<div class="select_extent">
  <% form_remote_tag :url => url_for(:action => "save_extent"), :update => 'extent' do %>

      <p>Geographic Coordinate
        System <%= select_tag(:crs, options_for_select([['boo', 'boo'], ['blam', 'blam']], @extent.crs)) %></p>

      <p><span class="extent_label">Нижняя точка</span>(<%= text_field_tag 'x1', @extent.lower_corner.x %>,
        <%= text_field_tag 'y1', @extent.lower_corner.y %>) </p>

      <p><span class="extent_label">Верхняя точка</span> (<%= text_field_tag 'x2', @extent.upper_corner.x %>,
        <%= text_field_tag 'y2', @extent.upper_corner.y %>) </p>

      <%= submit_tag "Accept" %>
      <%= link_to_remote 'Clear',
                         :update => 'extent',
                         :url => {:action => 'clear_extent_form'} %>
  <% end -%>
</div>